@tailwind base;
@tailwind components;
@tailwind utilities;

#player{
    @apply items-center flex justify-center relative bg-gray-600;
}

.player.active {
    @apply items-end;
}

#playButton{
  width: 10%;
  max-width: 200px;
  cursor: pointer;
}

#Video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#VideoThumbnail{
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 30%;
}

#buttonsContainer {
    @apply w-full flex flex-row justify-around self-end mb-3.5;
}

#greenButton{
    @apply w-3/10 bg-green-500 border-none text-white py-4 px-8 text-center inline-block no-underline text-base max-w-150;
}

#blueButton{
    @apply w-3/10 bg-blue-500 border-none text-white py-4 px-8 text-center no-underline inline-block text-base max-w-150;
}

#orangeButton{
    @apply w-3/10 bg-red-500 border-none text-white py-4 px-8 text-center no-underline inline-block text-base max-w-150;
}

#fullscreenButton{
    position: absolute;
    top: 25px;
    right: 25px;
    width: 32px;
    height: 32px;
}
